* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

div:first-of-type {
  font-family: "Manrope";
}

.bg-image {
  background-image: url("./img/background\ abdallah.jpg");
  filter: blur(6px);
  position: fixed;
  z-index: -1;
  margin: 0%;
  padding: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: -1;
  margin: 0%;
  padding: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.section {
  display: flex;
  align-items: center;
  margin-left: 16vw;
  padding: 5rem 0;
  color: #dedede;
}

.top-arrow {
  /* position: fixed; */
  color: #dedede;
  float: right;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  transform: translate(-100%, -50%);
}

.top-arrow:hover {
  color: #dedede85;
  transform: translate(-100%, -75%);
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.7s;
}

/* @media (max-width: 992px) {
  .section {
    padding-top: 4rem;
  }
} */

@media (max-width: 992px) {
  .section {
    flex-direction: column-reverse;
    margin-left: 0;
    padding: 2rem;
    padding-top: 4rem;
    z-index: -1;
  }
  .section:first-of-type {
    padding-top: 6rem;
  }

  .top-arrow {
    display: none;
  }
}
