.section-about {
  position: relative;
}

.about {
  width: 100%;
  /* background: #181818; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about p {
  font-size: 1.5rem;
  max-width: 600px;
  text-align: justify;
}
.about h1,
p {
  color: #dedede;
}

#js {
  position: absolute;
  width: 75px;
  height: 50px;
  top: 90px;
  right: 8%;
  filter: grayscale(100%);
}
#js:hover {
  filter: grayscale(0%);
  height: 75px;
}
#java {
  position: absolute;
  width: 90px;
  height: 60px;
  top: 80px;
  right: 23%;
  filter: grayscale(100%);
}
#java:hover {
  filter: grayscale(0%);
  height: 90px;
}
#git {
  position: absolute;
  width: 100px;
  height: 60px;
  top: 320px;
  right: 8%;
  filter: grayscale(100%);
}
#git:hover {
  filter: grayscale(0%);
  height: 100px;
}
#php {
  position: absolute;
  width: 90px;
  height: 60px;
  top: 200px;
  right: 17%;
  filter: grayscale(100%);
}
#php:hover {
  filter: grayscale(0%);
  height: 90px;
}
#react {
  position: absolute;
  width: 100px;
  height: 60px;
  top: 320px;
  right: 23%;
  filter: grayscale(100%);
}
#react:hover {
  filter: grayscale(0%);
  height: 85px;
}
.about_images img,
.about_images img:hover {
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .about_images {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-menu_nav a:first-child {
    border-top: none;
  }
  .about_images {
    display: none;
  }
}
